# ignore
.vs/
.vscode/
.DS_Store

# tmp
bin/
obj/
publish/
*.jsonl
*.json
*.zip

# Build output
Modules/M365DSC.mgx/*.dll
Modules/M365DSC.mgx/*.pdb
Modules/M365DSC.mgx/*.json
Modules/M365DSC.mgx/Dependencies/
Modules/M365DSC.mgx/.build-hash

# Test output
TestResults/
Tests/TestResults.xml
*.trx
